#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.value{
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 40px;
  border: none;
}

.change-value{
  display: flex;
  column-gap: 10px;
  margin-bottom: 50px;
}

.increament, .reset, .decreament{
  height: 40px;
  font-size: 30px;
  background-color: hsla(180, 55%, 42%, 0.839);
  border: none;
  cursor: pointer;
}

.increament:hover, .reset:hover, .decreament:hover{
  background-color: hsla(180, 57%, 30%, 0.839);
}